@model LanParty.Models.Games

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedPlayTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedPlayTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCOOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCOOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostedPrivateServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostedPrivateServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrossPlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrossPlatform)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
