@model LanParty.Models.Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanParty.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanParty.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
