@model IEnumerable<LanParty.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanParty.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanParty.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasPaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
